.root {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
;
}

.header {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.scoreContainer {
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 3%;
    background-color: rgb(45, 48, 91);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
}

.teamLabel {
    margin: 0;
    font-weight: 700;
    font-size: 1.5vmax;
    color: rgb(198, 201, 244);
    text-align: center;
}

.scoreLabel {
    font-size: 10vmax;
    margin: 0;
}

.statContainer {
    display: grid;
    grid-template-columns: repeat(4, 15vw);
    grid-template-rows: auto;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 40px 40px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.statBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 15vmax;
    height: 15vmax;
    background-color: rgb(45, 48, 91);
    border-radius: 20px;
    padding: 20px;
}

.statLabel {
    margin: 0;
    max-lines: 1;
    white-space: nowrap;
    line-height: 1.5;
    text-align: center;
    font-size: 1.5vmax;
    color: rgb(198, 201, 244)
}

.statCounter {
    font-size: 5vmax;
    margin: 0 10px 0 10px;
    font-weight: 300;
    text-align: center;
}

.row {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
}

.roundedDivider {
    display:  inline-flex;
    margin-left: auto;
    margin: auto;
    width: 80%;
    border-top: 5px solid #2d305b;
    border-bottom: 0px;
    border-left: 0;
    border-right: 0;
    border-radius: 5px;
}

.achievementContainer {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 20px 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;

}

.achievementBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12vmax;
    height: 12vmax;
    background-color: rgb(45, 48, 91);
    border-radius: 20px;
    padding: 20px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.deleteButton {
    border: none;
    background-color: transparent;
    color: red;

}