html {
  background-color: rgb(32, 35, 68);
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* div {
  background-color: rgb(45, 48, 91);
  border-radius: 20px
} */

/* Quarternary color: rgb(116, 121, 177); */
/* Tertiary color: rgb(140, 113, 244) */
/* Secondary color: rgb(45, 48, 91) */
/* Primary color rgb(32, 35, 68) */ 